<robot name="robot_bio">

  <!-- BASE -->
  <link name="base"/>

  <!-- LINK 1 -->
  <link name="link1">
    <visual>
      <origin xyz="0.05 0 0" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder length="0.10" radius="0.02"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>

  <joint name="q1" type="revolute">
    <parent link="base"/>
    <child link="link1"/>
    <origin xyz="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="10" velocity="1"/>
  </joint>

  <!-- LINK 2 -->
  <link name="link2">
    <visual>
      <origin xyz="0.03 0 0" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder length="0.06" radius="0.02"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>

  <joint name="q2" type="revolute">
    <parent link="link1"/>
    <child link="link2"/>
    <origin xyz="0.10 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="10" velocity="1"/>
  </joint>

  <!-- LINK 3 -->
  <link name="link3">
    <visual>
      <origin xyz="0.02 0 0" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder length="0.04" radius="0.02"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>

  <joint name="q3" type="revolute">
    <parent link="link2"/>
    <child link="link3"/>
    <origin xyz="0.06 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="10" velocity="1"/>
  </joint>

  <!-- LINK 4 -->
  <link name="link4">
    <visual>
      <origin xyz="0.015 0 0" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder length="0.03" radius="0.02"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>

  <joint name="q4" type="revolute">
    <parent link="link3"/>
    <child link="link4"/>
    <origin xyz="0.04 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="10" velocity="1"/>
  </joint>

</robot>